<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap Link here -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- css link here -->
    <link rel="stylesheet" href="../assets/css/style.css">

    <!-- js link here -->
    <link rel="stylesheet" href="../assets/js/custom.js">

    <!-- aos data here -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <!-- icons link here -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

    <title>Hu - Atra Tatra Sarvatra</title>
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><i class="fa-solid fa-film"></i> Filmlane</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Movie</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Stream</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Play</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sports</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search"
                        placeholder="Search for Movies, Events, Plays and Sports" aria-label="Search">
                    <button class="btn nav-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
        </div>
    </nav>

    <!-- movie poster-->
    <div class="hu-bg">
        <div class="d-flex">
            <div class="about-movie">
                <img src="../assets/images/poster12.jpg">
            </div>
            <div class="movie-text">
                <h1>Hu - Atra Tatra Sarvatra</h1>
                <h4><i class="fa-solid fa-star"></i> 8.4/10 <span>New Release <i
                            class="fa-solid fa-angle-right"></i></span>
                </h4>
                <div class="review">
                    <h5>Add your rating & review</h5>
                    <h6 class="pb-3">Your rating matters</h6>
                    <a href="#">Rate Now</a>
                </div>
                <h6 class="screen">2D</h6>
                <h6 class="screen">Gujarati </h6>
                <p class="pb-3">2h 16m . Drama . UA . 20 Jan, 2023</p>
                <a href="sign-up.html" class="book-ticket">Watch Movie</a>
            </div>
        </div>
    </div>

    <!-- about movie -->
    <div class="about-movie-text">
        <div class="container">
            <h3>About the movie</h3>
            <p class="pb-3">Hu - Atra Tatra Sarvatra is a Gujarati movie starring Hitu Kanodia in the lead.</p>
            <hr>
            <!--aaplicable offer  -->
            <h3 class="pt-3">Applicable Offers</h3>
            <div class="offer d-flex">
                <div class="icon">
                    <i class="fa-solid fa-file-lines"></i>
                </div>
                <div class="offer-text">
                    <h6>WATCH MOVIES ONLINE FOR FREE!</h6>
                    <p>Limited Period Offer</p>
                </div>
            </div>
            <hr>

            <!-- cast -->
            <div class="cast-head-text">
                <h3>Cast</h3>
            </div>
            <div class="cast d-flex">
                <div class="row">
                    <div class="col-2">
                        <img src="../assets/images/hu-cast-1.jpg">
                        <h6>Hitu Kanodia <br><span class="text-muted">Actor</span></h6>
                    </div>
                    <div class="col-2">
                        <img src="../assets/images/hu-cast-2.jpg">
                        <h6>Cairvee Thakkar <br><span class="text-muted">Actor</span></h6>
                    </div>
                    <div class="col-2">
                        <img src="../assets/images/hu-cast-3.jpg">
                        <h6>Mandeepsingh Basran <br><span class="text-muted">Actor</span></h6>
                    </div>
                    <div class="col-2">
                        <img src="../assets/images/hu-cast-4.jpg">
                        <h6>Shriya Tiwari <br><span class="text-muted">Actor</span></h6>
                    </div>
                    <div class="col-2">
                        <img src="../assets/images/hu-cast-5.jpg">
                        <h6>Jignesh Modi <br><span class="text-muted">Actor</span></h6>
                    </div>
                    <div class="col-2">
                        <img src="../assets/images/dadu-cast-6.jpg">
                        <h6>Jitendra Thakkar <br><span class="text-muted">Actor</span></h6>
                    </div>
                </div>
            </div>

            <hr>

            <div class="likes">
                <h3>You might also like <span>View All <i class="fa-solid fa-angle-right"></i></span></h3>
            </div>


        </div>
    </div>











</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>

</html>